* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* HEADER */
header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

/* MAIN */
main {
    padding: 40px;
}

/* GALERÍA 3x3 */
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* OBRA */
.obra {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.obra img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.obra h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

.obra p {
    font-size: 14px;
    color: #666;
}

/* HUECOS VACÍOS */
.obra.vacia {
    background-color: transparent;
    border: 1px dashed #ccc;
}

/* FOOTER */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.login-acceso {
    text-align: center;
    margin: 20px 0;
}

.btn-login {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn-login:hover {
    background-color: #444;
}


.form-login {
    max-width: 300px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-login input,
.form-login button {
    padding: 8px;
}

.mensaje {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.btn-volver {
    display: block;
    text-align: center;
    margin: 15px auto 0;
    color: #444;
    text-decoration: none;
    font-size: 14px;
}

.btn-volver:hover {
    text-decoration: underline;
}